* {
  background-color: cadetblue;
  color: rgb(14, 54, 163);
  font-weight: bold;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.star-ship {
  padding: 10px;
  margin: 10px;
  margin-left: 25%;
  border: 1px solid black;
  /* text-align: left; */
  background-color: rgb(44, 136, 128);
  width: 50%;
  /* align-self: center; */
}

.star-ship h2 {
  /* padding: 10px; */
  /* margin: 10px; */
  margin: 0;
  margin-left: 25%;
  background-color: rgb(44, 136, 128);
  width: 50%;
}
star-ship div,p,span{
  padding: 0;
  margin: 0;
  color: rgb(14, 54, 163);
  background-color: rgb(44, 136, 128);
}

.star-ship div,p{
  padding: 0;
  margin: 0;
  color: black;
  background-color: rgb(44, 136, 128);
}
